{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="story-header">
  <div class="top-story-header">
    <h1>About Us</h1>
  </div>
  <div class="story-banner">
    <div class="ms-image">
      <img src="{% static 'img/east.jpg' %}" alt="Loading Image">
    </div>
  </div>
</div>
<div class="story">
  <div></div>
  <div class="postcontent">
      <p>We provide comprehensive news coverage across the region on a variety of subjects as well as lifestyle articles on a specific subject that you might find interesting. The integration of the greater East African Region has created the need for news sources that take a regional perspective and make it easy for people in different countries to stay up to date on recent developments and events across the region. We bring you noteworthy stories about these events using reliable sources and expert opinions on different subjects that we are sure you will find interesting. </p>
  </div>
  <div></div>
</div>
{% endblock content %}