{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="story-header">
  <div class="top-story-header">
    <h1>Contact Us</h1>
  </div>
</div>


<div class="story">
  <div></div>
  <div class="postcontent">
      <p>Bamburi, Mombasa</p>
      <p>Email: eastafricanjournal001@gmail.com</p>
      <p>Tel: 0205205593</p>
      <p>Cell: +254717895728</p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
      <p></p>
  </div>
  <div></div>
</div>
{% endblock content %}
